/* global classes */
body {
  font-weight: 300;
  font-family: "Open Sans", "Helvetica", "Arial", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
blockquote,
figure {
  margin: 0;
  padding: 0;
}

a {
  outline: none;
  color: #000;
  text-decoration: none;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

a:hover {
  text-decoration: none;
}

/* headers and buttons */
.section-title {
  position: relative;
  text-align: center;
  text-transform: uppercase;
  font-size: 24px;
  font-family: "Forum", cursive;
}

.section-title:before {
  position: absolute;
  right: 0;
  bottom: -12px;
  left: 0;
  margin: 0 auto;
  width: 9px;
  height: 9px;
  border: 1px solid #e1e1e1;
  content: "";
}

.section-title span {
  position: relative;
  display: block;
  margin: 0 auto;
  width: 325px;
  height: 1px;
}

.section-title span:before,
.section-title span:after {
  position: absolute;
  bottom: -7px;
  z-index: 1;
  width: 152px;
  height: 1px;
  background-color: #e1e1e1;
  content: "";
}

.section-title span:before {
  left: 0;
}

.section-title span:after {
  right: 0;
}

.dark-bg-title {
  color: #fff;
}

.section-title.dark-bg-title:before {
  border-color: #484848;
}

.dark-bg-title span:before,
.dark-bg-title span:after {
  background-color: #484848;
}

.section-btn {
  border: 1px solid #93ede6;
  color: #93ede6;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
}

.section-btn:hover {
  background-color: #93ede6;
  color: #fff;
}

/* common classes */

.catalog-item {
  margin-bottom: 25px;
  text-align: center;
}

.catalog-item-text {
  display: inline-block;
  padding-top: 6px;
  padding-bottom: 1px;
  font-size: 14px;
}

.catalog-item-cost {
  display: block;
  color: #88581b;
  font-size: 18px;
  font-family: "Forum", cursive;
}

.catalog-item-img img {
  position: relative;
  display: block;
  width: 100%;
  height: auto;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.catalog-item-img {
  position: relative;
  float: left;
  overflow: hidden;
  width: 100%;
  height: 100%;
  text-align: center;
}

.catalog-item-overlay {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.7);
  opacity: 0;
  cursor: pointer;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.catalog-item-overlay:before,
.catalog-item-overlay:after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  content: "";
}

.catalog-item-overlay:before {
  z-index: 8;
  width: 19px;
  height: 19px;
  background: url(../img/spritesheet.png) no-repeat;
  background-position: -93px -42px;
}

.catalog-item-overlay:after {
  z-index: 5;
  width: 61px;
  height: 61px;
  background-color: rgba(255,255,255,.7);
}

.catalog-item-overlay-btn {
  position: absolute;
  top: 120px;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  padding: 4px 22px;
  width: 98px;
  height: 30px;
  border: 1px solid #fff;
  background-color: transparent;
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.catalog-item-overlay-btn:hover {
  background-color: #fff;
  color: #000;
  text-decoration: none;
}

.catalog-item-img:hover img {
-webkit-transform: scale(1.1);
transform: scale(1.1);
}

.catalog-item-img:hover .catalog-item-overlay-btn,
.catalog-item-img:hover .catalog-item-overlay {
  opacity: 1;
  filter: alpha(opacity=100);
}


/* header */
.header {
  padding-top: 14px;
  padding-bottom: 10px;
}

.header-phone {
  padding-top: 20px;
}

.phone-text {
  font-weight: 600;
  font-size: 18px;
  line-height: 11px;
}

.phone-call-btn {
  text-transform: lowercase;
  font-size: 12px;
}

.basket {
  margin-top: 20px;
}

.basket-text {
  position: relative;
  float: right;
  padding-left: 30px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
}

.basket-text:before {
  position: absolute;
  top: 3px;
  left: 6px;
  width: 13px;
  height: 13px;
  border: 1px solid #000;
  border-radius: 50%;
  content: "2";
  text-align: center;
  font-size: 9px;
}


/* promo */
.promo {
  background: url(../img/promo-bg.jpg) no-repeat center;
  background-size: cover;
}

/* main-menu */
.main-menu {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: rgba(0,0,0,.8);
}

.main-menu-ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;

  -webkit-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.main-menu-ul li {
  margin-right: 22px;
  margin-left: 22px;
}

.main-menu-ul a {
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 12px;
}

.promo-wrapper {
  padding-top: 168px;
  padding-bottom: 379px;
  text-align: center;
}

.promo-header {
  margin: 0 auto;
  color: #f9f9f9;
  color: rgba(249,249,249,.7);
  text-transform: uppercase;
  text-shadow: -1px 2px 7px rgba(0,0,0,.67);
  font-size: 60px;
  font-family: "Forum", cursive;
  line-height: 69px;
}

.promo-btn {
  display: inline-block;
  margin-top: 66px;
  padding: 9px 15px;
}


/* special-order */
.special-order {
  padding-top: 46px;
  padding-bottom: 142px;
  background-color: #363636;
}

.special-items-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  padding-top: 62px;

  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;  
  -webkit-flex-wrap: wrap;  
  -ms-flex-wrap: wrap;  
  flex-wrap: wrap;
}

.special-item {
  position: relative;

  -webkit-flex-basis: 121px;
  -ms-flex-preferred-size: 121px;
  flex-basis: 121px;
}

.special-icon {
  position: relative;
  width: 121px;
  height: 121px;
  border: 1px solid #eaeaea;
  border-radius: 50%;
}

.icon-discount:before,
.icon-gift:before,
.icon-delivery:before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  background: url(../img/spritesheet.png) no-repeat;
  content: "";
}

.icon-discount:before {
  width: 33px; 
  height: 33px; 
  background-position: -51px -5px;
}
.icon-gift:before {
  width: 31px; 
  height: 31px; 
  background-position: -43px -48px;
}

.icon-delivery:before {
  width: 36px; 
  height: 25px; 
  background-position: -5px -5px;
}

.special-text {
  margin-top: 136px;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
}


/* popular */
.popular {
  padding-top: 47px;
  padding-bottom: 60px;
  background-color: #f9f9f9;
}

.catalog-items-wrapper {
  padding-top: 46px;
}


/* instagram */
.instagram {
  padding-top: 47px;
  padding-bottom: 41px;
  background-color: #363636;
}

.instagram-items-wrapper {
  padding-top: 50px;
}

.instagram-item {
  margin-bottom: 15px;
}

.instagram-item img {
  width: 100%;
  height: auto;
}

.instagram-btn {
  display: block;
  margin: 29px auto 0;
  padding: 8px 20px;
  max-width: 180px;
}


/* footer */
.footer {
  padding-top: 51px;
  padding-bottom: 40px;
}

.footer-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;

  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}

.footer-text {
  font-size: 12px;
  line-height: 1.1;
}

.social-nav li {
  display: inline-block;
  margin-left: 30px;
}

.social-nav a {
  display: inline-block;
  width: 28px; 
  height: 28px;
  background: url(../img/spritesheet.png) no-repeat;
}
.social-nav .social-icon-fb { 
  background-position: -5px -48px; 
} 

.social-nav .social-icon-vk { 
  background-position: -84px -70px; 
}

.social-nav .social-icon-ig { 
  background-position: -94px -5px;
}


/* modal */
.close {
  float: right;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  font-weight: bold;
  font-size: 24px;
  line-height: 1;
  opacity: .2;
  filter: alpha(opacity=20);
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  opacity: .8;
  filter: alpha(opacity=80);
  cursor: pointer;
}

button.close {
  padding: 0;
  border: 0;
  background: 0 0;
  cursor: pointer;

  -webkit-appearance: none;
}

.modal-open {
  overflow: hidden;
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  display: none;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  outline: 0;
}

.modal.fade .modal-dialog {
  -webkit-transition: -webkit-transform .3s ease-out;
          transition: -webkit-transform .3s ease-out;
          transition: transform .3s ease-out;
          transition:         transform .3s ease-out, -webkit-transform .3s ease-out;
  -webkit-transform: translate(0, -25%);
          transform: translate(0, -25%);
}

.modal.in .modal-dialog {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}

.modal-dialog {
  position: relative;
  margin: 10px;
  width: auto;
}

.modal-content {
  position: relative;
  outline: 0;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, .2);
  background-color: #fff;
  box-shadow: 0 3px 9px rgba(0, 0, 0, .8);
}

.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000;
}

.modal-backdrop.fade {
  opacity: 0;
  filter: alpha(opacity=0);
}

.modal-backdrop.in {
  opacity: .8;
  filter: alpha(opacity=80);
}

.modal-header .close {
  margin-top: 6px;
  margin-right: 10px;
}

.modal-body {
  position: relative;
  padding: 24px 35px 45px;
}

.modal-product-description {
  padding-left: 10px;
  min-height: 405px;
}

.modal-small-img {
  margin-bottom: 15px;
  cursor: pointer;
}

.modal-small-img img {
  width: 100%;
  height: auto;
}

.modal-big-img img {
  width: 100%;
  height: auto;
}

.modal-product-title {
  padding-bottom: 9px;
  font-weight: 400;
  font-size: 18px;
  line-height: 16px;
}

.product-number {
  display: block;
  padding-bottom: 20px;
  color: #6c6c6c;
  font-size: 12px;
}

.product-available {
  display: inline-block;
  margin-bottom: 35px;
  padding: 4px 9px;
  border: 1px solid #e9a885;
  font-size: 12px;
}

.modal-product-subtitle {
  font-weight: 400;
  font-size: 14px;
}

.modal-characters {
  margin-top: 18px;
  font-size: 14px;
}

.modal-characters p {
  padding-bottom: 9px;
}

.modal-characters span {
  padding-left: 7px;
  color: #6c6c6c;
}

.product-buy-information {
  margin-top: 63px;
}

.product-price {
  padding-bottom: 17px;
  color: #88581b;
  font-size: 24px;
  font-family: "Forum", cursive;
}

.modal-product-btn {
  padding: 7px 45px;
  background-color: #72c6bf;
  color: #fff;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 18px;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.modal-product-btn:hover {
  background-color: #88d3cd;
}

.modal-tobasket-btn {
  margin-left: 45px;
  color: #4a4949;
  text-decoration: underline;
  font-size: 14px;
}

.modal-tobasket-btn:hover {
  text-decoration: none;
}

.modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  overflow: scroll;
  width: 50px;
  height: 50px;
}

@media (min-width: 768px) {
  .modal-dialog {
    margin: 30px auto;
    width: 768px;
  }
  .modal-content {
    box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
  }
}

@media (max-width: 991px) {
  .modal-big-img {
    display: none;
  }
}

@media (min-width: 992px) {
  .modal-dialog {
    margin: 100px auto;
    width: 992px;
  }
}

@media (min-width: 1200px) {
  .modal-dialog {
    margin: 150px auto;
    width: 1200px;
  }
}


/* media */
@media (max-width: 767px) {
  .basket {
    float: right;
  }
}